@font-face {
    font-family: "Lato";
}
﻿@font-face {
    font-style: normal;
}
﻿@font-face {
    font-weight: 400;
}
﻿@font-face {
    src: local("Lato Regular"), local("Lato-Regular"),
        url("https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjxAwXjeu.woff2") format("woff2");
}
@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    src: local("Lato Regular"), local("Lato-Regular"),
        url("https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wXg.woff2") format("woff2");
}
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: local("Montserrat Regular"), local("Montserrat-Regular"),
        url("https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459WRhyzbi.woff2") format("woff2");
}
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: local("Montserrat Regular"), local("Montserrat-Regular"),
        url("https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459W1hyzbi.woff2") format("woff2");
}
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: local("Montserrat Regular"), local("Montserrat-Regular"),
        url("https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2") format("woff2");
}
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: local("Montserrat Regular"), local("Montserrat-Regular"),
        url("https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2") format("woff2");
}
[class~="big-one"] {
    font-size: 1.041666667in;
}
[hidden],
audio:not([controls]),
.tooltip .text {
    display: none;
}
html {
    box-sizing: border-box;
}
[class~="bgimg"] {
    background-position: center;
}
html,
body {
    height: 100%;
}
html,
body {
    line-height: 1.8;
}
*:after,
*:before {
    box-sizing: inherit;
}
html {
    -ms-text-size-adjust: 100%;
}
audio:not([controls]) {
    height: 0;
}
html {
    -webkit-text-size-adjust: 100%;
}
body {
    margin-left: 0;
}
body {
    margin-bottom: 0;
}
body {
    margin-right: 0;
}
a:active,
a:hover {
    outline-width: 0;
}
[class~="bgimg"] {
    background-size: cover;
}
abbr[title] {
    border-bottom-width: medium;
}
body {
    margin-top: 0;
}
body {
    font-family: "Open Sans";
}
[class~="bgimg"] {
    background-image: url("https://xn--80atbx5b3a.xn--p1ai/promo.png");
}
[class~="btn"]:hover {
    box-shadow: 0 0.5pc 0.166666667in 0 rgba(0, 0, 0, 0.2), 0 0.0625in 20px 0 rgba(0, 0, 0, 0.19);
}
details,
aside,
figure,
menu,
nav,
main,
article,
section,
figcaption,
header,
footer {
    display: block;
}
abbr[title] {
    border-bottom-style: none;
}
[class~="bgimg"] {
    min-height: 100%;
}
[class~="button"]:disabled,
[class~="btn"]:disabled {
    cursor: not-allowed;
}
[type="reset"],
[type="submit"],
[type="button"] {
    -webkit-appearance: button;
}
abbr[title] {
    border-bottom-color: currentColor;
}
abbr[title] {
    border-image: none;
}
[class~="btn"]:disabled,
[class~="button"]:disabled {
    opacity: 0.3;
}
abbr[title] {
    text-decoration: underline;
}
abbr[title] {
    text-decoration: underline dotted;
}
[class~="ripple"]:active {
    opacity: 0.5;
}
[class~="table-all"] tr:nth-child(odd) {
    background-color: #fff;
}
[type="button"]::-moz-focus-inner {
    border-left-style: none;
}
[type="button"]::-moz-focus-inner {
    border-bottom-style: none;
}
.bordered tr {
    border-bottom-width: 0.75pt;
}
.table-all tr:nth-child(even) {
    background-color: #f1f1f1;
}
summary {
    display: list-item;
}
[type="button"]::-moz-focus-inner {
    border-right-style: none;
}
.bordered tr {
    border-bottom-style: solid;
}
[type="button"]::-moz-focus-inner {
    border-top-style: none;
}
[type="button"]::-moz-focus-inner {
    padding-left: 0;
}
[type="button"]::-moz-focus-inner {
    padding-bottom: 0;
}
[class~="tooltip"]:hover [class~="text"],
audio,
canvas,
video,
progress,
[class~="center"] [class~="bar"] {
    display: inline-block;
}
[class~="dropdown-click"]:hover,
[class~="dropdown-hover"]:first-child {
    background-color: #ccc;
}
[type="button"]::-moz-focus-inner {
    padding-right: 0;
}
[type="button"]::-moz-focus-inner {
    padding-top: 0;
}
[type="reset"]::-moz-focus-inner {
    border-left-style: none;
}
progress {
    vertical-align: baseline;
}
.bordered tr {
    border-bottom-color: #ddd;
}
[type="reset"]::-moz-focus-inner {
    border-bottom-style: none;
}
.bordered tr {
    border-image: none;
}
[class~="table-all"] tr {
    border-bottom-width: 0.75pt;
}
[type="reset"]::-moz-focus-inner {
    border-right-style: none;
}
[type="reset"]::-moz-focus-inner {
    border-top-style: none;
}
* {
    box-sizing: inherit;
}
[type="reset"]::-moz-focus-inner {
    padding-left: 0;
}
[class~="table-all"] tr {
    border-bottom-style: solid;
}
template {
    display: none;
}
[type="reset"]::-moz-focus-inner {
    padding-bottom: 0;
}
[class~="btn"]:disabled:hover,
.btn.disabled:hover {
    box-shadow: none;
}
[type="reset"]::-moz-focus-inner {
    padding-right: 0;
}
[type="reset"]::-moz-focus-inner {
    padding-top: 0;
}
[type="submit"]::-moz-focus-inner {
    border-left-style: none;
}
mark,
[class~="dropdown-hover"]:first-child,
[class~="dropdown-click"]:hover {
    color: #000;
}
a {
    background-color: transparent;
}
[type="submit"]::-moz-focus-inner {
    border-bottom-style: none;
}
[class~="table-all"] tr {
    border-bottom-color: #ddd;
}
[type="submit"]::-moz-focus-inner {
    border-right-style: none;
}
[type="submit"]::-moz-focus-inner {
    border-top-style: none;
}
strong,
b {
    font-weight: bolder;
}
[type="submit"]::-moz-focus-inner {
    padding-left: 0;
}
[class~="table-all"] tr {
    border-image: none;
}
[type="submit"]::-moz-focus-inner {
    padding-bottom: 0;
}
.bar-block .dropdown-click,
[class~="bar-block"] [class~="dropdown-hover"] {
    width: 100%;
}
[type="submit"]::-moz-focus-inner {
    padding-right: 0;
}
[type="submit"]::-moz-focus-inner {
    padding-top: 0;
}
[type="button"]:-moz-focusring {
    outline: 0.75pt dotted ButtonText;
}
[class~="table"] td {
    padding-left: 6pt;
}
dfn {
    font-style: italic;
}
[type="reset"]:-moz-focusring {
    outline: 0.75pt dotted ButtonText;
}
[class~="table"] td,
[class~="bar"] [class~="bar-item"] {
    padding-bottom: 0.5pc;
}
[type="submit"]:-moz-focusring {
    outline: 0.75pt dotted ButtonText;
}
mark {
    background: #ff0;
}
[class~="center"] [class~="bar"] {
    width: auto;
}
small {
    font-size: 80%;
}
[class~="table"] td {
    padding-right: 6pt;
}
sub,
sup {
    font-size: 75%;
}
sub,
sup {
    line-height: 0;
}
sub,
sup {
    position: relative;
}
[type="checkbox"],
[type="radio"] {
    padding-left: 0;
}
[type="radio"],
[type="checkbox"] {
    padding-bottom: 0;
}
[class~="bar"] [class~="bar-item"],
[class~="table"] td {
    padding-top: 0.5pc;
}
sup,
sub {
    vertical-align: baseline;
}
[class~="bar"] [class~="bar-item"] {
    padding-left: 12pt;
}
[type="checkbox"],
[type="radio"] {
    padding-right: 0;
}
[type="checkbox"],
[type="radio"] {
    padding-top: 0;
}
[type="number"]::-webkit-inner-spin-button {
    height: auto;
}
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
[class~="table"] td {
    display: table-cell;
}
[type="search"] {
    -webkit-appearance: textfield;
}
[type="search"] {
    outline-offset: -0.020833333in;
}
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
[class~="serif"] {
    font-family: serif;
}
[class~="table"] th:first-child,
.table td:first-child {
    padding-left: 12pt;
}
[class~="bar"] [class~="bar-item"] {
    padding-right: 12pt;
}
.wide {
    letter-spacing: 3pt;
}
[class~="table"] td {
    text-align: left;
}
[class~="image"] {
    max-width: 100%;
}
[class~="image"] {
    height: auto;
}
.table-all,
.table {
    border-collapse: collapse;
}
.table,
.table-all {
    border-spacing: 0;
}
.table-all,
.table {
    width: 100%;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}
[class~="bar"] [class~="bar-item"] {
    float: left;
}
figure {
    margin-left: 0.416666667in;
}
.table,
.table-all {
    display: table;
}
figure {
    margin-bottom: 1em;
}
figure {
    margin-right: 0.416666667in;
}
[class~="table-all"] {
    border-left-width: 0.75pt;
}
[class~="bar"] [class~="bar-item"] {
    width: auto;
}
[class~="table-all"] {
    border-bottom-width: 0.75pt;
}
figure {
    margin-top: 1em;
}
[class~="table-all"] {
    border-right-width: 0.75pt;
}
[class~="table-all"] {
    border-top-width: 0.75pt;
}
img {
    border-left-style: none;
}
[class~="table-all"] {
    border-left-style: solid;
}
img {
    border-bottom-style: none;
}
[class~="table"] td,
[class~="table"] th {
    vertical-align: top;
}
img {
    border-right-style: none;
}
[class~="table"] th,
[class~="table-all"] td {
    padding-left: 6pt;
}
img {
    border-top-style: none;
}
code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
}
samp,
kbd,
code,
pre {
    font-size: 1em;
}
[class~="table-all"] {
    border-bottom-style: solid;
}
[class~="table-all"] {
    border-right-style: solid;
}
[class~="table-all"] {
    border-top-style: solid;
}
[class~="btn"],
[class~="table-all"] td,
[class~="table"] th {
    padding-bottom: 0.5pc;
}
[class~="table"] th {
    padding-right: 6pt;
}
[class~="table-all"] {
    border-left-color: #ccc;
}
[class~="table-all"] {
    border-bottom-color: #ccc;
}
[class~="table-all"] {
    border-right-color: #ccc;
}
[class~="bar"] [class~="bar-item"] {
    border-left-width: medium;
}
hr {
    box-sizing: content-box;
}
hr {
    height: 0;
}
[class~="table-all"] {
    border-top-color: #ccc;
}
.dropdown-hover:hover > .button:first-child {
    background-color: #ccc;
}
[class~="btn"],
[class~="table"] th {
    padding-top: 0.5pc;
}
hr {
    overflow: visible;
}
input,
select,
textarea,
button {
    font: inherit;
}
[class~="table"] th {
    display: table-cell;
}
select,
input,
textarea,
button {
    margin-left: 0;
}
[class~="table-all"] {
    border-image: none;
}
[class~="table"] th {
    text-align: left;
}
[class~="btn"] {
    border-left-width: medium;
}
button,
input,
select,
textarea {
    margin-bottom: 0;
}
[class~="btn"],
[class~="bar"] [class~="bar-item"] {
    border-bottom-width: medium;
}
[class~="bar"] [class~="bar-item"],
[class~="btn"] {
    border-right-width: medium;
}
[class~="btn"],
[class~="bar"] [class~="bar-item"] {
    border-top-width: medium;
}
[class~="bar"] [class~="bar-item"],
[class~="btn"] {
    border-left-style: none;
}
textarea,
input,
button,
select {
    margin-right: 0;
}
[class~="bar"] [class~="bar-item"],
[class~="btn"] {
    border-bottom-style: none;
}
[class~="bar"] [class~="bar-item"],
[class~="btn"] {
    border-right-style: none;
}
textarea,
input,
select,
button {
    margin-top: 0;
}
[class~="btn"],
[class~="bar"] [class~="bar-item"] {
    border-top-style: none;
}
[class~="btn"],
[class~="bar"] [class~="bar-item"] {
    border-left-color: currentColor;
}
[class~="btn"],
[class~="bar"] [class~="bar-item"] {
    border-bottom-color: currentColor;
}
[class~="btn"] {
    border-right-color: currentColor;
}
[class~="btn"] {
    border-top-color: currentColor;
}
[class~="btn"] {
    border-image: none;
}
[class~="btn"] {
    display: inline-block;
}
[class~="btn"] {
    padding-left: 1pc;
}
[class~="btn"] {
    padding-right: 1pc;
}
[class~="btn"] {
    vertical-align: middle;
}
[class~="btn"] {
    overflow: hidden;
}
[class~="btn"] {
    text-decoration: none;
}
[class~="btn"] {
    color: inherit;
}
[class~="btn"] {
    background-color: inherit;
}
[class~="btn"] {
    text-align: center;
}
[class~="dropdown-hover"]:hover [class~="dropdown-content"],
[class~="bar"] [class~="bar-item"] {
    display: block;
}
[class~="btn"] {
    cursor: pointer;
}
[class~="table-all"] td {
    padding-right: 6pt;
}
[class~="btn"] {
    white-space: nowrap;
}
[class~="button"] {
    border-left-width: medium;
}
[class~="button"] {
    border-bottom-width: medium;
}
[class~="button"] {
    border-right-width: medium;
}
[class~="ul"][class~="hoverable"] li:hover {
    background-color: #ccc;
}
optgroup {
    font: inherit;
}
[class~="button"] {
    border-top-width: medium;
}
[class~="button"] {
    border-left-style: none;
}
[class~="button"] {
    border-bottom-style: none;
}
[class~="button"] {
    border-right-style: none;
}
[class~="button"],
[class~="ul"] li,
[class~="table-all"] td,
[class~="table-all"] th {
    padding-top: 0.5pc;
}
[class~="button"] {
    border-top-style: none;
}
[class~="button"] {
    border-left-color: currentColor;
}
[class~="button"] {
    border-bottom-color: currentColor;
}
.table-all th:first-child,
[class~="table-all"] td:first-child {
    padding-left: 12pt;
}
[class~="bar"] [class~="bar-item"],
[class~="button"] {
    border-right-color: currentColor;
}
optgroup {
    margin-left: 0;
}
optgroup {
    margin-bottom: 0;
}
optgroup {
    margin-right: 0;
}
[class~="bar"] [class~="bar-item"],
[class~="button"] {
    border-top-color: currentColor;
}
optgroup {
    margin-top: 0;
}
[class~="button"],
[class~="bar"] [class~="bar-item"] {
    border-image: none;
}
[class~="button"] {
    display: inline-block;
}
[class~="button"] {
    padding-left: 1pc;
}
button {
    font-family: "Montserrat", sans-serif;
}
optgroup {
    font-weight: bold;
}
[class~="button"],
[class~="ul"] li,
[class~="table-all"] th,
[class~="bar-block"] [class~="bar-item"] {
    padding-bottom: 0.5pc;
}
[class~="button"] {
    padding-right: 1pc;
}
[class~="table-all"] td,
[class~="table-all"] th {
    display: table-cell;
}
[class~="bar"] [class~="bar-item"] {
    outline: 0;
}
button,
input {
    overflow: visible;
}
[class~="table-all"] td,
[class~="table-all"] th {
    text-align: left;
}
[class~="table-all"] td,
[class~="table-all"] th {
    vertical-align: top;
}
[class~="bar"] [class~="dropdown-click"],
[class~="bar"] [class~="dropdown-hover"] {
    position: static;
}
select,
button {
    text-transform: none;
}
[class~="table-all"] th {
    padding-left: 6pt;
}
[class~="bar"] [class~="dropdown-hover"],
[class~="bar"] [class~="dropdown-click"] {
    float: left;
}
[class~="button"] {
    vertical-align: middle;
}
[class~="button"] {
    overflow: hidden;
}
[class~="button"] {
    text-decoration: none;
}
[class~="table-all"] th {
    padding-right: 6pt;
}
button {
    -webkit-appearance: button;
}
[class~="button"] {
    color: inherit;
}
[class~="button"] {
    background-color: inherit;
}
[class~="bar-block"] [class~="dropdown-hover"] [class~="dropdown-content"],
[class~="bar-block"] [class~="dropdown-click"] [class~="dropdown-content"] {
    min-width: 100%;
}
button::-moz-focus-inner {
    border-left-style: none;
}
[class~="button"],
[class~="centered"] tr th {
    text-align: center;
}
[class~="button"] {
    cursor: pointer;
}
button::-moz-focus-inner {
    border-bottom-style: none;
}
[class~="button"] {
    white-space: nowrap;
}
[class~="bar"] [class~="button"] {
    white-space: normal;
}
[class~="btn"],
[class~="button"] {
    -webkit-touch-callout: none;
}
[class~="btn"],
[class~="button"] {
    -webkit-user-select: none;
}
[class~="button"],
[class~="btn"] {
    -khtml-user-select: none;
}
button::-moz-focus-inner {
    border-right-style: none;
}
[class~="bar-block"] [class~="bar-item"] {
    width: 100%;
}
[class~="ul"] li,
[class~="bar-block"] [class~="bar-item"] {
    padding-left: 1pc;
}
[class~="button"],
[class~="btn"] {
    -moz-user-select: none;
}
[class~="button"],
[class~="btn"] {
    -ms-user-select: none;
}
[class~="bar-block"] [class~="bar-item"] {
    display: block;
}
[class~="btn"],
[class~="button"] {
    user-select: none;
}
[class~="ul"] li,
[class~="bar-block"] [class~="bar-item"] {
    padding-right: 1pc;
}
[class~="ul"] li:last-child {
    border-bottom-width: medium;
}
button::-moz-focus-inner {
    border-top-style: none;
}
button::-moz-focus-inner {
    padding-left: 0;
}
fieldset,
[class~="ul"] li {
    border-bottom-width: 0.75pt;
}
button::-moz-focus-inner {
    padding-bottom: 0;
}
button::-moz-focus-inner {
    padding-right: 0;
}
button::-moz-focus-inner {
    padding-top: 0;
}
[class~="ul"] li,
fieldset {
    border-bottom-style: solid;
}
button:-moz-focusring {
    outline: 0.75pt dotted ButtonText;
}
fieldset {
    border-left-width: 0.75pt;
}
fieldset {
    border-right-width: 0.75pt;
}
fieldset {
    border-top-width: 0.75pt;
}
fieldset {
    border-left-style: solid;
}
[class~="ul"] li {
    border-bottom-color: #ddd;
}
fieldset {
    border-right-style: solid;
}
[class~="disabled"] {
    cursor: not-allowed;
}
[class~="disabled"] {
    opacity: 0.3;
}
[class~="disabled"] *,
:disabled * {
    pointer-events: none;
}
[class~="bar-block"] [class~="bar-item"] {
    padding-top: 0.083333333in;
}
fieldset {
    border-top-style: solid;
}
[class~="bar-block"] [class~="bar-item"] {
    text-align: left;
}
fieldset {
    border-left-color: #c0c0c0;
}
[class~="ul"] li {
    border-image: none;
}
[class~="bar-block"] [class~="bar-item"] {
    border-left-width: medium;
}
fieldset {
    border-bottom-color: #c0c0c0;
}
[class~="badge"],
.tag {
    background-color: #000;
}
.tag,
[class~="badge"] {
    color: #fff;
}
[class~="badge"],
.tag {
    display: inline-block;
}
fieldset {
    border-right-color: #c0c0c0;
}
.tag,
[class~="badge"] {
    padding-left: 8px;
}
[class~="badge"],
.tag {
    padding-right: 8px;
}
fieldset {
    border-top-color: #c0c0c0;
}
[class~="badge"],
.tag {
    text-align: center;
}
fieldset {
    border-image: none;
}
fieldset {
    margin-left: 0.020833333in;
}
[class~="panel"]:before,
[class~="container"]:after,
.container:before,
[class~="panel"]:after {
    content: "";
}
[class~="ul"],
fieldset {
    margin-bottom: 0;
}
fieldset {
    margin-right: 0.020833333in;
}
[class~="container"]:after,
legend,
[class~="panel"]:after,
.container:before {
    display: table;
}
[class~="ul"],
fieldset {
    margin-top: 0;
}
fieldset {
    padding-left: 0.625em;
}
[class~="badge"] {
    border-radius: 50%;
}
fieldset {
    padding-bottom: 0.75em;
}
[class~="panel"]:before,
.container:before,
[class~="panel"]:after,
[class~="container"]:after {
    clear: both;
}
[class~="ul"] {
    list-style-type: none;
}
fieldset {
    padding-right: 0.625em;
}
fieldset {
    padding-top: 0.35em;
}
legend {
    color: inherit;
}
legend,
[class~="ul"] {
    padding-left: 0;
}
legend,
[class~="ul"] {
    padding-bottom: 0;
}
legend,
[class~="ul"] {
    padding-right: 0;
}
legend {
    max-width: 100%;
}
.bar-block .dropdown-hover .button {
    width: 100%;
}
[class~="ul"],
legend {
    padding-top: 0;
}
h1,
[class~="ul"] {
    margin-left: 0;
}
h1,
[class~="ul"] {
    margin-right: 0;
}
[class~="bar-block"] [class~="bar-item"] {
    border-bottom-width: medium;
}
[class~="display-container"],
[class~="tooltip"] {
    position: relative;
}
[class~="input"],
[class~="bar-block"] [class~="bar-item"] {
    border-right-width: medium;
}
[class~="ripple"] {
    transition: opacity 0s;
}
[class~="input"] {
    padding-left: 0.5pc;
}
[class~="input"],
[class~="bar-block"] [class~="bar-item"] {
    border-top-width: medium;
}
legend {
    white-space: normal;
}
[class~="input"] {
    padding-bottom: 0.5pc;
}
[class~="bar-block"] [class~="bar-item"],
[class~="input"] {
    border-left-style: none;
}
[class~="input"] {
    padding-right: 0.5pc;
}
textarea {
    overflow: auto;
}
[class~="input"] {
    padding-top: 0.5pc;
}
.bar-block .dropdown-hover .button {
    text-align: left;
}
[class~="input"] {
    display: block;
}
body,
html {
    font-family: Verdana, sans-serif;
}
[class~="input"] {
    border-left-width: medium;
}
body,
html {
    font-size: 0.9375pc;
}
[class~="input"] {
    border-bottom-width: 1px;
}
html,
body {
    line-height: 1.5;
}
[class~="input"] {
    border-bottom-style: solid;
}
html {
    overflow-x: hidden;
}
h3,
h2,
h4,
h1 {
    font-family: "Lato", sans-serif;
}
[class~="bar-block"] [class~="bar-item"],
[class~="input"] {
    border-right-style: none;
}
[class~="input"],
[class~="bar-block"] [class~="bar-item"] {
    border-top-style: none;
}
h4,
h1,
h3,
h2 {
    font-weight: 400;
}
[class~="input"],
[class~="bar-block"] [class~="bar-item"] {
    border-left-color: currentColor;
}
h3,
h4,
h2,
h1 {
    margin-bottom: 0.625pc;
}
[class~="input"] {
    border-bottom-color: #ccc;
}
h4,
h1,
h2,
h3 {
    margin-top: 0.625pc;
}
[class~="row"]:after,
[class~="row-padding"]:after,
[class~="panel"]:before,
[class~="row"]:before {
    display: table;
}
[class~="row"]:before,
[class~="row"]:after,
[class~="row-padding"]:after,
.row-padding:before {
    content: "";
}
[class~="bar-block"] [class~="bar-item"],
[class~="input"] {
    border-right-color: currentColor;
}
[class~="row"]:before,
[class~="row"]:after {
    clear: both;
}
[class~="bar-block"] [class~="bar-item"] {
    border-bottom-style: none;
}
[class~="input"],
[class~="bar-block"] [class~="bar-item"] {
    border-top-color: currentColor;
}
h3,
h5,
h2,
h4 {
    margin-left: 0;
}
[class~="input"] {
    border-image: none;
}
h2,
h5,
h3,
h4 {
    margin-right: 0;
}
[class~="select"],
[class~="input"] {
    width: 100%;
}
[class~="select"] {
    padding-left: 0;
}
[class~="select"] {
    padding-bottom: 0.5625pc;
}
[class~="select"] {
    padding-right: 0;
}
[class~="select"] {
    padding-top: 0.5625pc;
}
[class~="select"] {
    border-left-width: medium;
}
[class~="select"] {
    border-bottom-width: 1px;
}
[class~="select"] {
    border-right-width: medium;
}
[class~="select"] {
    border-top-width: medium;
}
[class~="select"] {
    border-left-style: none;
}
[class~="select"] {
    border-bottom-style: solid;
}
[class~="select"] {
    border-right-style: none;
}
[class~="bar-block"] [class~="bar-item"] {
    border-bottom-color: currentColor;
}
[class~="select"] {
    border-top-style: none;
}
[class~="select"] {
    border-left-color: currentColor;
}
[class~="select"] {
    border-bottom-color: #ccc;
}
.bar-block .dropdown-hover .button {
    padding-left: 1pc;
}
[class~="select"] {
    border-right-color: currentColor;
}
.bar-block .dropdown-hover .button {
    padding-bottom: 6pt;
}
[class~="select"] {
    border-top-color: currentColor;
}
[class~="select"],
[class~="bar-block"] [class~="bar-item"] {
    border-image: none;
}
[class~="dropdown-click"],
[class~="dropdown-hover"] {
    position: relative;
}
[class~="row-padding"]:after,
.row-padding:before {
    clear: both;
}
h5,
h6 {
    font-family: "Lato", sans-serif;
}
[class~="dropdown-hover"],
[class~="dropdown-click"] {
    display: inline-block;
}
[class~="dropdown-hover"],
[class~="dropdown-click"] {
    cursor: pointer;
}
h6,
h5 {
    font-weight: 400;
}
h5,
h6 {
    margin-bottom: 0.625pc;
}
[class~="bar-block"] [class~="bar-item"] {
    white-space: normal;
}
.dropdown-hover:hover > .button:first-child,
[class~="dropdown-content"] {
    color: #000;
}
[class~="dropdown-content"] {
    cursor: auto;
}
h5,
h6 {
    margin-top: 0.625pc;
}
[class~="dropdown-content"] {
    background-color: #fff;
}
.clear:after,
.cell-row:after,
.row-padding:before,
[class~="cell-row"]:before {
    display: table;
}
[class~="dropdown-content"] {
    display: none;
}
[class~="dropdown-content"] {
    position: absolute;
}
[class~="ul"] li:last-child,
hr {
    border-bottom-style: none;
}
[class~="dropdown-content"] {
    min-width: 160px;
}
h6,
[class~="dropdown-content"] {
    margin-left: 0;
}
[class~="dropdown-content"] {
    margin-bottom: 0;
}
[class~="bar-block"] [class~="bar-item"] {
    float: none;
}
[class~="bar-block"] [class~="bar-item"] {
    outline: 0;
}
[class~="dropdown-content"],
h6 {
    margin-right: 0;
}
[class~="centered"] tr td {
    text-align: center;
}
[class~="dropdown-content"] {
    margin-top: 0;
}
[class~="col"][class~="s1"] {
    width: 8.33333%;
}
[class~="dropdown-click"]:hover > [class~="button"]:first-child {
    background-color: #ccc;
}
h1 {
    font-family: "Montserrat", sans-serif;
}
[class~="dropdown-content"] {
    padding-left: 0;
}
[class~="dropdown-content"] {
    padding-bottom: 0;
}
[class~="clear"]:before,
.clear:after,
.cell-row:after,
[class~="cell-row"]:before {
    content: "";
}
[class~="dropdown-content"] {
    padding-right: 0;
}
h1 {
    font-size: 36px;
}
.col.s2 {
    width: 16.66666%;
}
[class~="dropdown-content"] {
    padding-top: 0;
}
[class~="dropdown-content"],
.sidebar {
    z-index: 1;
}
hr {
    border-left-width: 0;
}
[class~="check"],
[class~="radio"] {
    width: 18pt;
}
[class~="col"][class~="s3"] {
    width: 24.99999%;
}
hr {
    border-bottom-width: 0;
}
[class~="check"],
[class~="radio"] {
    height: 1.5pc;
}
[class~="cell-row"]:before,
.clear:after,
.cell-row:after,
[class~="clear"]:before {
    clear: both;
}
[class~="radio"],
[class~="check"] {
    position: relative;
}
[class~="radio"],
[class~="check"] {
    top: 0.375pc;
}
hr {
    border-right-width: 0;
}
hr {
    border-top-width: 0.75pt;
}
.bar-block .dropdown-hover .button {
    padding-right: 1pc;
}
hr {
    border-left-style: none;
}
[class~="col"][class~="s4"] {
    width: 33.33333%;
}
[class~="modal"],
.sidebar {
    height: 100%;
}
hr {
    border-right-style: none;
}
hr {
    border-top-style: solid;
}
[class~="col"][class~="s5"] {
    width: 41.66666%;
}
hr {
    border-left-color: currentColor;
}
hr,
[class~="ul"] li:last-child {
    border-bottom-color: currentColor;
}
.sidebar {
    width: 2.083333333in;
}
hr {
    border-right-color: currentColor;
}
.sidebar {
    background-color: #fff;
}
[class~="col"][class~="s6"] {
    width: 49.99999%;
}
hr {
    border-top-color: #eee;
}
.sidebar {
    position: fixed !important;
}
hr {
    border-image: none;
}
.sidebar,
[class~="modal"] {
    overflow: auto;
}
[class~="main"] {
    transition: margin-left 0.4s;
}
[class~="modal"] {
    z-index: 3;
}
[class~="modal"] {
    display: none;
}
[class~="col"][class~="s7"] {
    width: 58.33333%;
}
[class~="col"][class~="s8"] {
    width: 66.66666%;
}
hr {
    margin-left: 0;
}
[class~="modal"] {
    padding-top: 100px;
}
hr {
    margin-bottom: 1.25pc;
}
hr {
    margin-right: 0;
}
hr {
    margin-top: 1.25pc;
}
[class~="modal"] {
    position: fixed;
}
[class~="modal"] {
    left: 0;
}
img {
    vertical-align: middle;
}
[class~="modal"] {
    top: 0;
}
[class~="bar-block"] [class~="dropdown-click"] [class~="button"],
[class~="modal"] {
    width: 100%;
}
.bar-block .dropdown-hover .button {
    padding-top: 6pt;
}
a {
    color: inherit;
}
.col.s9 {
    width: 74.99999%;
}
[class~="modal"] {
    background-color: #000;
}
[class~="modal"] {
    background-color: rgba(0, 0, 0, 0.5);
}
[class~="col"][class~="s10"] {
    width: 83.33333%;
}
[class~="modal-content"] {
    margin-left: auto;
}
[class~="col"][class~="s11"] {
    width: 91.66666%;
}
[class~="modal-content"] {
    margin-bottom: auto;
}
[class~="modal-content"] {
    margin-right: auto;
}
[class~="modal-content"] {
    margin-top: auto;
}
[class~="clear"]:before,
.bar:after,
.bar:before {
    display: table;
}
[class~="modal-content"] {
    background-color: #fff;
}
[class~="modal-content"] {
    position: relative;
}
[class~="col"][class~="s12"] {
    width: 99.99999%;
}
.bar:before,
.bar:after {
    content: "";
}
[class~="modal-content"] {
    padding-left: 0;
}
[class~="modal-content"] {
    padding-bottom: 0;
}
[class~="modal-content"] {
    padding-right: 0;
}
[class~="modal-content"] {
    padding-top: 0;
}
[class~="modal-content"] {
    outline: 0;
}
[class~="modal-content"] {
    width: 6.25in;
}
[class~="bar"] {
    font-family: "Montserrat", sans-serif;
}
[class~="quarter"],
[class~="threequarter"],
[class~="col"],
[class~="third"],
[class~="half"],
.twothird,
[class~="bar"],
[class~="block"] {
    width: 100%;
}
[class~="bar"] {
    overflow: hidden;
}
[class~="responsive"],
[class~="block"] {
    display: block;
}
[class~="responsive"] {
    overflow-x: auto;
}
[class~="quarter"],
[class~="third"],
.twothird,
[class~="col"],
[class~="half"],
[class~="threequarter"] {
    float: left;
}
.bar:after,
.bar:before {
    clear: both;
}
[class~="bar-block"] [class~="dropdown-click"] [class~="button"] {
    text-align: left;
}
[class~="striped"] tbody tr:nth-child(even) {
    background-color: #f1f1f1;
}
[class~="bar-block"] [class~="dropdown-click"] [class~="button"] {
    padding-left: 1pc;
}
[class~="ul"] li:last-child {
    border-image: none;
}
[class~="bar-block"] [class~="dropdown-click"] [class~="button"] {
    padding-bottom: 6pt;
}
[class~="bar-block"] [class~="dropdown-click"] [class~="button"] {
    padding-right: 1pc;
}
[class~="dropdown-click"]:hover > [class~="button"]:first-child {
    color: #000;
}
[class~="hoverable"] tbody tr:hover {
    background-color: #ccc;
}
::-webkit-file-upload-button {
    -webkit-appearance: button;
}
::-webkit-file-upload-button {
    font: inherit;
}
[class~="bar-block"] [class~="dropdown-click"] [class~="button"] {
    padding-top: 6pt;
}
[class~="bar-block"][class~="center"] [class~="bar-item"] {
    text-align: center;
}
#main {
    transition: margin-left 0.4s;
}
@media (min-width: 601px) {
    [class~="col"][class~="m1"] {
        width: 8.33333%;
    }
    .col.m2 {
        width: 16.66666%;
    }
    .col.m3,
    [class~="quarter"] {
        width: 24.99999%;
    }
    [class~="col"][class~="m4"],
    [class~="third"] {
        width: 33.33333%;
    }
    [class~="half"] {
        width: 49.99999%;
    }
    [class~="col"][class~="m5"] {
        width: 41.66666%;
    }
    [class~="col"][class~="m6"] {
        width: 49.99999%;
    }
    .col.m7 {
        width: 58.33333%;
    }
    [class~="col"][class~="m8"],
    .twothird {
        width: 66.66666%;
    }
    .threequarter,
    .col.m9 {
        width: 74.99999%;
    }
    [class~="col"][class~="m10"] {
        width: 83.33333%;
    }
    .col.m11 {
        width: 91.66666%;
    }
    [class~="col"][class~="m12"] {
        width: 99.99999%;
    }
}
@media (min-width: 993px) {
    [class~="col"][class~="l1"] {
        width: 8.33333%;
    }
    [class~="col"][class~="l2"] {
        width: 16.66666%;
    }
    .col.l3 {
        width: 24.99999%;
    }
    [class~="col"][class~="l4"] {
        width: 33.33333%;
    }
    [class~="col"][class~="l5"] {
        width: 41.66666%;
    }
    [class~="col"][class~="l6"] {
        width: 49.99999%;
    }
    [class~="col"][class~="l7"] {
        width: 58.33333%;
    }
    [class~="col"][class~="l8"] {
        width: 66.66666%;
    }
    [class~="col"][class~="l9"] {
        width: 74.99999%;
    }
    .col.l10 {
        width: 83.33333%;
    }
    [class~="col"][class~="l11"] {
        width: 91.66666%;
    }
    [class~="col"][class~="l12"] {
        width: 99.99999%;
    }
}
[class~="rest"] {
    overflow: hidden;
}
[class~="stretch"] {
    margin-left: -1pc;
}
[class~="stretch"] {
    margin-right: -12pt;
}
[class~="content"],
[class~="auto"] {
    margin-left: auto;
}
[class~="auto"],
[class~="content"] {
    margin-right: auto;
}
[class~="content"] {
    max-width: 735pt;
}
[class~="auto"] {
    max-width: 11.875in;
}
[class~="cell-row"] {
    display: table;
}
[class~="cell-row"] {
    width: 100%;
}
[class~="cell"] {
    display: table-cell;
}
.cell-top {
    vertical-align: top;
}
[class~="cell-middle"] {
    vertical-align: middle;
}
.cell-bottom {
    vertical-align: bottom;
}
.hide {
    display: none !important;
}
.show-block,
.show {
    display: block !important;
}
[class~="show-inline-block"] {
    display: inline-block !important;
}
@media (max-width: 1205px) {
    .auto {
        max-width: 95%;
    }
}
@media (max-width: 600px) {
    .dropdown-click.mobile .dropdown-content,
    [class~="dropdown-hover"][class~="mobile"] [class~="dropdown-content"] {
        position: relative;
    }
    [class~="dropdown-hover"][class~="mobile"],
    [class~="dropdown-click"][class~="mobile"],
    [class~="bar-item"][class~="mobile"] {
        text-align: center;
    }
    [class~="modal-content"] {
        margin-left: 0.625pc;
    }
    [class~="modal-content"] {
        margin-bottom: 0;
    }
    [class~="modal-content"] {
        margin-right: 0.625pc;
    }
    [class~="modal-content"] {
        margin-top: 0;
    }
    [class~="dropdown-hover"][class~="mobile"] [class~="button"],
    .dropdown-hover.mobile .btn,
    .dropdown-click.mobile .button,
    [class~="dropdown-click"][class~="mobile"] [class~="btn"],
    .dropdown-hover.mobile,
    [class~="dropdown-click"][class~="mobile"] {
        width: 100%;
    }
    [class~="modal-content"] {
        width: auto !important;
    }
    [class~="modal"] {
        padding-top: 30px;
    }
    [class~="hide-small"] {
        display: none !important;
    }
    [class~="mobile"] {
        display: block;
    }
    [class~="mobile"] {
        width: 100% !important;
    }
}
@media (max-width: 768px) {
    .modal-content {
        width: 5.208333333in;
    }
    [class~="modal"] {
        padding-top: 0.520833333in;
    }
}
@media (min-width: 993px) {
    [class~="modal-content"] {
        width: 675pt;
    }
    [class~="sidebar"][class~="collapse"] {
        display: block !important;
    }
    [class~="hide-large"] {
        display: none !important;
    }
}
@media (max-width: 992px) and (min-width: 601px) {
    [class~="hide-medium"] {
        display: none !important;
    }
}
@media (max-width: 992px) {
    [class~="main"] {
        margin-left: 0 !important;
    }
    [class~="main"] {
        margin-right: 0 !important;
    }
    .auto {
        max-width: 100%;
    }
    [class~="sidebar"][class~="collapse"] {
        display: none;
    }
}
.bottom,
[class~="top"],
[class~="overlay"] {
    position: fixed;
}
[class~="top"],
.bottom,
[class~="overlay"] {
    width: 100%;
}
[class~="row-padding"] > [class~="half"],
[class~="row-padding"] > [class~="twothird"],
[class~="row-padding"] > [class~="threequarter"],
[class~="row-padding"] > [class~="third"] {
    padding-left: 6pt;
}
.bottom,
[class~="top"] {
    z-index: 1;
}
[class~="row-padding"] > [class~="half"],
[class~="row-padding"] > [class~="third"],
[class~="row-padding"] > [class~="threequarter"],
[class~="row-padding"] > [class~="twothird"] {
    padding-bottom: 0;
}
[class~="row-padding"] > [class~="half"],
[class~="row-padding"] > [class~="third"],
[class~="row-padding"] > [class~="twothird"],
[class~="row-padding"] > [class~="threequarter"] {
    padding-right: 6pt;
}
[class~="row-padding"] > [class~="twothird"],
[class~="row-padding"] > [class~="third"],
[class~="row-padding"] > [class~="threequarter"],
[class~="row-padding"] > [class~="half"] {
    padding-top: 0;
}
[class~="display-topright"],
[class~="overlay"],
[class~="top"],
[class~="display-topleft"] {
    top: 0;
}
[class~="display-bottomleft"],
[class~="display-bottomright"],
[class~="bottom"],
[class~="overlay"] {
    bottom: 0;
}
[class~="display-container"]:hover [class~="display-hover"] {
    display: block;
}
[class~="overlay"] {
    display: none;
}
[class~="overlay"] {
    height: 100%;
}
[class~="overlay"],
[class~="display-bottomleft"],
[class~="display-topleft"] {
    left: 0;
}
[class~="overlay"],
[class~="display-topright"],
[class~="display-bottomright"] {
    right: 0;
}
[class~="overlay"] {
    background-color: rgba(0, 0, 0, 0.5);
}
[class~="overlay"] {
    z-index: 2;
}
.display-middle,
[class~="display-left"],
[class~="display-topleft"],
[class~="display-bottommiddle"],
[class~="display-position"],
[class~="display-bottomright"],
[class~="display-bottomleft"],
[class~="display-topright"],
[class~="display-topmiddle"],
[class~="display-right"] {
    position: absolute;
}
.display-middle,
[class~="display-left"],
[class~="display-right"] {
    top: 50%;
}
.display-middle {
    left: 50%;
}
.display-middle {
    transform: translate(-50%, -50%);
}
.display-middle {
    -ms-transform: translate(-50%, -50%);
}
[class~="display-left"] {
    left: 0%;
}
[class~="display-left"],
[class~="display-right"] {
    transform: translate(0%, -50%);
}
[class~="display-left"] {
    -ms-transform: translate(-0%, -50%);
}
[class~="display-right"] {
    right: 0%;
}
[class~="display-right"] {
    -ms-transform: translate(0%, -50%);
}
[class~="display-topmiddle"],
[class~="display-bottommiddle"] {
    left: 50%;
}
[class~="display-topmiddle"] {
    top: 0;
}
[class~="display-topmiddle"],
[class~="display-bottommiddle"] {
    transform: translate(-50%, 0%);
}
[class~="display-topmiddle"],
[class~="display-bottommiddle"] {
    -ms-transform: translate(-50%, 0%);
}
[class~="row-padding"] > [class~="quarter"],
[class~="row-padding"],
[class~="row-padding"] > [class~="col"] {
    padding-left: 6pt;
}
[class~="row-padding"] > [class~="quarter"],
[class~="row-padding"],
[class~="row-padding"] > [class~="col"] {
    padding-bottom: 0;
}
[class~="display-bottommiddle"] {
    bottom: 0;
}
[class~="row-padding"],
[class~="row-padding"] > [class~="quarter"],
[class~="row-padding"] > [class~="col"] {
    padding-right: 6pt;
}
.display-container:hover span.display-hover {
    display: inline-block;
}
[class~="row-padding"],
[class~="row-padding"] > [class~="col"],
[class~="row-padding"] > [class~="quarter"] {
    padding-top: 0;
}
[class~="display-hover"] {
    display: none;
}
[class~="circle"] {
    border-radius: 50%;
}
[class~="round-small"] {
    border-radius: 0.125pc;
}
[class~="round-medium"],
[class~="round"] {
    border-radius: 0.25pc;
}
[class~="hover-shadow"]:hover {
    box-shadow: 0 0.041666667in 0.104166667in 0 rgba(0, 0, 0, 0.2), 0 0.041666667in 15pt 0 rgba(0, 0, 0, 0.19);
}
[class~="round-large"] {
    border-radius: 8px;
}
[class~="round-xlarge"] {
    border-radius: 1pc;
}
.round-xxlarge {
    border-radius: 0.333333333in;
}
[class~="container"],
[class~="panel"] {
    padding-left: 1pc;
}
[class~="panel"],
[class~="container"] {
    padding-bottom: 0.01em;
}
[class~="container"],
[class~="panel"] {
    padding-right: 1pc;
}
[class~="panel"],
[class~="container"] {
    padding-top: 0.01em;
}
.panel {
    margin-top: 12pt;
}
.panel {
    margin-bottom: 1pc;
}
[class~="card"],
[class~="card-2"] {
    box-shadow: 0 1.5pt 0.3125pc 0 rgba(0, 0, 0, 0.16), 0 0.125pc 0.625pc 0 rgba(0, 0, 0, 0.12);
}
[class~="card-4"] {
    box-shadow: 0 0.041666667in 0.104166667in 0 rgba(0, 0, 0, 0.2), 0 0.041666667in 15pt 0 rgba(0, 0, 0, 0.19);
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}
[class~="animate-fading"] {
    animation: fading 10s infinite;
}
@keyframes fading {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
[class~="animate-opacity"] {
    animation: opac 0.8s;
}
@keyframes opac {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
[class~="animate-top"] {
    position: relative;
}
[class~="animate-top"] {
    animation: animatetop 0.4s;
}
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}
[class~="animate-left"] {
    position: relative;
}
[class~="animate-left"] {
    animation: animateleft 0.4s;
}
@keyframes animateleft {
    from {
        left: -300px;
        opacity: 0;
    }
    to {
        left: 0;
        opacity: 1;
    }
}
[class~="animate-right"] {
    position: relative;
}
[class~="animate-right"] {
    animation: animateright 0.4s;
}
@keyframes animateright {
    from {
        right: -300px;
        opacity: 0;
    }
    to {
        right: 0;
        opacity: 1;
    }
}
[class~="animate-bottom"] {
    position: relative;
}
[class~="animate-bottom"] {
    animation: animatebottom 0.4s;
}
@keyframes animatebottom {
    from {
        bottom: -300px;
        opacity: 0;
    }
    to {
        bottom: 0;
        opacity: 1;
    }
}
.animate-zoom {
    animation: animatezoom 0.6s;
}
@keyframes animatezoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
[class~="animate-input"] {
    transition: width 0.4s ease-in-out;
}
[class~="opacity"],
[class~="hover-opacity"]:hover {
    opacity: 0.6;
}
[class~="opacity-off"],
[class~="hover-opacity-off"]:hover {
    opacity: 1;
}
[class~="opacity-max"] {
    opacity: 0.25;
}
[class~="opacity-min"] {
    opacity: 0.75;
}
[class~="greyscale-max"],
.hover-greyscale:hover,
[class~="hover-grayscale"]:hover,
[class~="grayscale-max"] {
    filter: grayscale(100%);
}
[class~="greyscale"],
.grayscale {
    filter: grayscale(75%);
}
[class~="grayscale-min"],
[class~="greyscale-min"] {
    filter: grayscale(50%);
}
[class~="tiny"] {
    font-size: 0.625pc !important;
}
[class~="small"] {
    font-size: 0.75pc !important;
}
[class~="medium"] {
    font-size: 0.9375pc !important;
}
[class~="large"] {
    font-size: 1.125pc !important;
}
.xlarge {
    font-size: 18pt !important;
}
[class~="xxlarge"] {
    font-size: 2.25pc !important;
}
[class~="xxxlarge"] {
    font-size: 36pt !important;
}
[class~="jumbo"] {
    font-size: 64px !important;
}
.animate-input:focus {
    width: 100% !important;
}
[class~="left-align"] {
    text-align: left !important;
}
[class~="right-align"] {
    text-align: right !important;
}
[class~="justify"] {
    text-align: justify !important;
}
[class~="center"] {
    text-align: center !important;
}
[class~="border-0"] {
    border-left-width: 0 !important;
}
[class~="border-0"] {
    border-bottom-width: 0 !important;
}
[class~="border-0"] {
    border-right-width: 0 !important;
}
[class~="border-0"] {
    border-top-width: 0 !important;
}
[class~="border-0"] {
    border-left-style: none !important;
}
[class~="border-0"] {
    border-bottom-style: none !important;
}
[class~="border-0"] {
    border-right-style: none !important;
}
[class~="border-0"] {
    border-top-style: none !important;
}
[class~="border-0"] {
    border-left-color: currentColor !important;
}
[class~="border-0"] {
    border-bottom-color: currentColor !important;
}
[class~="border-0"] {
    border-right-color: currentColor !important;
}
[class~="button"]:hover {
    color: #000 !important;
}
[class~="border-0"] {
    border-top-color: currentColor !important;
}
[class~="border-0"] {
    border-image: none !important;
}
[class~="button"]:hover {
    background-color: #ccc !important;
}
[class~="hover-none"]:hover {
    background-color: transparent !important;
}
[class~="border"] {
    border-left-width: 0.75pt !important;
}
[class~="border"] {
    border-bottom-width: 0.75pt !important;
}
[class~="hover-none"]:hover {
    box-shadow: none !important;
}
[class~="border"] {
    border-right-width: 0.75pt !important;
}
[class~="border"] {
    border-top-width: 0.75pt !important;
}
[class~="border"] {
    border-left-style: solid !important;
}
[class~="border"] {
    border-bottom-style: solid !important;
}
[class~="border"] {
    border-right-style: solid !important;
}
.hover-blue:hover,
[class~="hover-green"]:hover {
    color: #fff !important;
}
[class~="border"] {
    border-top-style: solid !important;
}
[class~="border"] {
    border-left-color: #ccc !important;
}
[class~="border"] {
    border-bottom-color: #ccc !important;
}
[class~="border"] {
    border-right-color: #ccc !important;
}
.hover-blue:hover {
    background-color: #2196f3 !important;
}
[class~="border"] {
    border-top-color: #ccc !important;
}
[class~="border"] {
    border-image: none !important;
}
[class~="border-top"] {
    border-top-width: 0.010416667in !important;
}
[class~="border-top"] {
    border-top-style: solid !important;
}
[class~="border-top"] {
    border-top-color: #ccc !important;
}
[class~="border-top"] {
    border-image: none !important;
}
[class~="border-bottom"] {
    border-bottom-width: 0.0625pc !important;
}
[class~="hover-green"]:hover {
    background-color: #4caf50 !important;
}
[class~="border-bottom"] {
    border-bottom-style: solid !important;
}
[class~="hover-orange"]:hover {
    color: #000 !important;
}
[class~="border-bottom"] {
    border-bottom-color: #ccc !important;
}
[class~="hover-orange"]:hover {
    background-color: #ff9800 !important;
}
[class~="hover-teal"]:hover,
[class~="hover-red"]:hover {
    color: #fff !important;
}
[class~="border-bottom"] {
    border-image: none !important;
}
[class~="border-left"] {
    border-left-width: 0.010416667in !important;
}
[class~="border-left"] {
    border-left-style: solid !important;
}
[class~="border-left"] {
    border-left-color: #ccc !important;
}
[class~="border-left"] {
    border-image: none !important;
}
[class~="border-right"] {
    border-right-width: 0.010416667in !important;
}
[class~="hover-red"]:hover {
    background-color: #f44336 !important;
}
[class~="border-right"] {
    border-right-style: solid !important;
}
[class~="hover-teal"]:hover {
    background-color: #7576a2 !important;
}
[class~="border-right"] {
    border-right-color: #ccc !important;
}
[class~="border-right"] {
    border-image: none !important;
}
.topbar {
    border-top-width: 0.0625in !important;
}
[class~="hover-white"]:hover {
    color: #000 !important;
}
[class~="hover-white"]:hover {
    background-color: #fff !important;
}
[class~="hover-black"]:hover {
    color: #fff !important;
}
[class~="hover-black"]:hover {
    background-color: #000 !important;
}
.topbar {
    border-top-style: solid !important;
}
[class~="hover-grey"]:hover,
.hover-light-grey:hover,
[class~="hover-light-gray"]:hover,
[class~="hover-gray"]:hover {
    color: #000 !important;
}
[class~="hover-gray"]:hover,
[class~="hover-grey"]:hover {
    background-color: #9e9e9e !important;
}
.topbar {
    border-top-color: #ccc !important;
}
.topbar {
    border-image: none !important;
}
.bottombar {
    border-bottom-width: 6px !important;
}
.bottombar {
    border-bottom-style: solid !important;
}
.bottombar {
    border-bottom-color: #ccc !important;
}
.bottombar {
    border-image: none !important;
}
.leftbar {
    border-left-width: 4.5pt !important;
}
.leftbar {
    border-left-style: solid !important;
}
.leftbar {
    border-left-color: #ccc !important;
}
.leftbar {
    border-image: none !important;
}
[class~="rightbar"] {
    border-right-width: 0.375pc !important;
}
[class~="rightbar"] {
    border-right-style: solid !important;
}
[class~="rightbar"] {
    border-right-color: #ccc !important;
}
[class~="rightbar"] {
    border-image: none !important;
}
[class~="code"],
[class~="section"] {
    margin-top: 0.166666667in !important;
}
[class~="section"],
[class~="code"] {
    margin-bottom: 1pc !important;
}
.hover-light-grey:hover,
[class~="hover-light-gray"]:hover {
    background-color: #f1f1f1 !important;
}
[class~="margin"] {
    margin-left: 1pc !important;
}
[class~="margin"] {
    margin-bottom: 1pc !important;
}
[class~="margin"] {
    margin-right: 1pc !important;
}
[class~="margin"] {
    margin-top: 1pc !important;
}
[class~="margin-top"] {
    margin-top: 16px !important;
}
.margin-bottom {
    margin-bottom: 1pc !important;
}
[class~="margin-left"] {
    margin-left: 16px !important;
}
[class~="margin-right"] {
    margin-right: 1pc !important;
}
[class~="padding-small"] {
    padding-left: 0.083333333in !important;
}
[class~="padding-small"] {
    padding-bottom: 0.25pc !important;
}
.hover-text-blue:hover {
    color: #2196f3 !important;
}
[class~="padding-small"] {
    padding-right: 0.083333333in !important;
}
[class~="padding-small"] {
    padding-top: 0.25pc !important;
}
.padding {
    padding-left: 0.166666667in !important;
}
[class~="hover-text-green"]:hover {
    color: #4caf50 !important;
}
[class~="hover-text-orange"]:hover {
    color: #ff9800 !important;
}
[class~="hover-text-red"]:hover {
    color: #f44336 !important;
}
.padding {
    padding-bottom: 8px !important;
}
[class~="hover-text-teal"]:hover {
    color: #009688 !important;
}
.padding {
    padding-right: 0.166666667in !important;
}
.padding {
    padding-top: 8px !important;
}
[class~="padding-large"] {
    padding-left: 0.25in !important;
}
[class~="padding-large"] {
    padding-bottom: 0.125in !important;
}
[class~="padding-large"] {
    padding-right: 0.25in !important;
}
[class~="padding-large"] {
    padding-top: 0.125in !important;
}
[class~="padding-8"] {
    padding-top: 6pt !important;
}
[class~="padding-8"] {
    padding-bottom: 0.083333333in !important;
}
[class~="padding-16"] {
    padding-top: 0.166666667in !important;
}
[class~="padding-16"] {
    padding-bottom: 0.166666667in !important;
}
[class~="padding-24"] {
    padding-top: 18pt !important;
}
[class~="padding-24"] {
    padding-bottom: 24px !important;
}
[class~="padding-32"] {
    padding-top: 24pt !important;
}
[class~="padding-32"] {
    padding-bottom: 24pt !important;
}
[class~="padding-48"] {
    padding-top: 3pc !important;
}
[class~="padding-48"] {
    padding-bottom: 36pt !important;
}
[class~="blue"],
.hover-text-white:hover,
[class~="green"] {
    color: #fff !important;
}
[class~="padding-64"] {
    padding-top: 0.666666667in !important;
}
[class~="hover-text-black"]:hover,
[class~="orange"] {
    color: #000 !important;
}
[class~="padding-64"] {
    padding-bottom: 4pc !important;
}
.left {
    float: left !important;
}
[class~="hover-text-grey"]:hover,
.hover-text-gray:hover {
    color: #757575 !important;
}
.hover-text-light-grey:hover,
[class~="hover-text-light-gray"]:hover {
    color: #f1f1f1 !important;
}
[class~="right"] {
    float: right !important;
}
[class~="transparent"] {
    background-color: transparent !important;
}
[class~="hover-text-dark-gray"]:hover,
[class~="hover-text-dark-grey"]:hover {
    color: #3a3a3a !important;
}
[class~="blue"] {
    background-color: #2196f3 !important;
}
[class~="green"] {
    background-color: #4caf50 !important;
}
.hover-border-blue:hover,
[class~="border-blue"] {
    border-left-color: #2196f3 !important;
}
.hover-border-blue:hover,
[class~="border-blue"] {
    border-bottom-color: #2196f3 !important;
}
[class~="orange"] {
    background-color: #ff9800 !important;
}
[class~="red"],
.teal {
    color: #fff !important;
}
[class~="red"] {
    background-color: #f44336 !important;
}
.teal {
    background-color: #7576a2 !important;
}
.hover-border-blue:hover,
[class~="border-blue"] {
    border-right-color: #2196f3 !important;
}
[class~="white"] {
    color: #000 !important;
}
.hover-border-blue:hover,
[class~="border-blue"] {
    border-top-color: #2196f3 !important;
}
[class~="white"] {
    background-color: #fff !important;
}
[class~="black"] {
    color: #fff !important;
}
[class~="black"] {
    background-color: #000 !important;
}
[class~="grey"],
.light-grey,
[class~="gray"],
[class~="light-gray"] {
    color: #000 !important;
}
[class~="grey"],
[class~="gray"] {
    background-color: #9e9e9e !important;
}
[class~="light-gray"],
.light-grey {
    background-color: #f1f1f1 !important;
}
[class~="border-green"],
.hover-border-green:hover {
    border-left-color: #4caf50 !important;
}
.hover-border-green:hover,
[class~="border-green"] {
    border-bottom-color: #4caf50 !important;
}
.hover-border-green:hover,
[class~="border-green"] {
    border-right-color: #4caf50 !important;
}
[class~="text-blue"] {
    color: #2196f3 !important;
}
[class~="text-green"] {
    color: #4caf50 !important;
}
[class~="text-orange"] {
    color: #ff9800 !important;
}
[class~="text-red"] {
    color: #f44336 !important;
}
[class~="text-teal"] {
    color: #009688 !important;
}
[class~="text-white"] {
    color: #fff !important;
}
[class~="text-black"] {
    color: #000 !important;
}
[class~="border-green"],
.hover-border-green:hover {
    border-top-color: #4caf50 !important;
}
[class~="text-grey"],
[class~="text-gray"] {
    color: #757575 !important;
}
.text-light-grey,
.text-light-gray {
    color: #f1f1f1 !important;
}
[class~="text-dark-grey"],
.text-dark-gray {
    color: #3a3a3a !important;
}
[class~="hover-border-orange"]:hover,
[class~="border-orange"] {
    border-left-color: #ff9800 !important;
}
[class~="hover-border-orange"]:hover,
[class~="border-orange"] {
    border-bottom-color: #ff9800 !important;
}
[class~="border-orange"],
[class~="hover-border-orange"]:hover {
    border-right-color: #ff9800 !important;
}
[class~="border-orange"],
[class~="hover-border-orange"]:hover {
    border-top-color: #ff9800 !important;
}
.border-red,
[class~="hover-border-red"]:hover {
    border-left-color: #f44336 !important;
}
[class~="hover-border-red"]:hover,
.border-red {
    border-bottom-color: #f44336 !important;
}
.border-red,
[class~="hover-border-red"]:hover {
    border-right-color: #f44336 !important;
}
.border-red,
[class~="hover-border-red"]:hover {
    border-top-color: #f44336 !important;
}
.hover-border-teal:hover,
.border-teal {
    border-left-color: #009688 !important;
}
.border-teal,
.hover-border-teal:hover {
    border-bottom-color: #009688 !important;
}
.hover-border-teal:hover,
.border-teal {
    border-right-color: #7576a2 !important;
}
.border-teal,
.hover-border-teal:hover {
    border-top-color: #7576a2 !important;
}
[class~="hover-border-white"]:hover,
[class~="border-white"] {
    border-left-color: #fff !important;
}
[class~="hover-border-white"]:hover,
[class~="border-white"] {
    border-bottom-color: #fff !important;
}
[class~="hover-border-white"]:hover,
[class~="border-white"] {
    border-right-color: #fff !important;
}
[class~="hover-border-white"]:hover,
[class~="border-white"] {
    border-top-color: #fff !important;
}
.hover-border-black:hover,
[class~="border-black"] {
    border-left-color: #000 !important;
}
[class~="border-black"],
.hover-border-black:hover {
    border-bottom-color: #000 !important;
}
[class~="border-black"],
.hover-border-black:hover {
    border-right-color: #000 !important;
}
.hover-border-black:hover,
[class~="border-black"] {
    border-top-color: #000 !important;
}
[class~="hover-border-grey"]:hover,
[class~="border-grey"],
.border-gray,
.hover-border-gray:hover {
    border-left-color: #9e9e9e !important;
}
.border-gray,
[class~="hover-border-grey"]:hover,
.hover-border-gray:hover,
[class~="border-grey"] {
    border-bottom-color: #9e9e9e !important;
}
[class~="border-grey"],
.hover-border-gray:hover,
.border-gray,
[class~="hover-border-grey"]:hover {
    border-right-color: #9e9e9e !important;
}
.hover-border-gray:hover,
[class~="hover-border-grey"]:hover,
[class~="border-grey"],
.border-gray {
    border-top-color: #9e9e9e !important;
}
[class~="border-light-grey"],
.hover-border-light-grey:hover,
[class~="hover-border-light-gray"]:hover,
[class~="border-light-gray"] {
    border-left-color: #f1f1f1 !important;
}
[class~="hover-border-light-gray"]:hover,
[class~="border-light-gray"],
[class~="border-light-grey"],
.hover-border-light-grey:hover {
    border-bottom-color: #f1f1f1 !important;
}
[class~="border-light-grey"],
[class~="border-light-gray"],
.hover-border-light-grey:hover,
[class~="hover-border-light-gray"]:hover {
    border-right-color: #f1f1f1 !important;
}
[class~="border-light-grey"],
[class~="border-light-gray"],
[class~="hover-border-light-gray"]:hover,
.hover-border-light-grey:hover {
    border-top-color: #f1f1f1 !important;
}
[class~="hover-border-dark-grey"]:hover,
[class~="border-dark-grey"],
[class~="hover-border-dark-gray"]:hover,
.border-dark-gray {
    border-left-color: #616161 !important;
}
[class~="hover-border-dark-gray"]:hover,
[class~="hover-border-dark-grey"]:hover,
[class~="border-dark-grey"],
.border-dark-gray {
    border-bottom-color: #616161 !important;
}
[class~="hover-border-dark-grey"]:hover,
.border-dark-gray,
[class~="hover-border-dark-gray"]:hover,
[class~="border-dark-grey"] {
    border-right-color: #616161 !important;
}
[class~="hover-border-dark-gray"]:hover,
.border-dark-gray,
[class~="border-dark-grey"],
[class~="hover-border-dark-grey"]:hover {
    border-top-color: #616161 !important;
}
@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0;
    }
    to {
        bottom: 0px;
        opacity: 1;
    }
}
@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0;
    }
    to {
        bottom: 0;
        opacity: 1;
    }
}
.uppercase {
    text-transform: uppercase !important;
}
